html,body {
  padding: 0px;
  margin: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: white;
background-image:
  radial-gradient(circle, #bbb 8%, transparent 10%),
  radial-gradient(circle, #bbb 8%, transparent 10%);
background-repeat: repeat;
background-size: 13px 13px;
background-position:
  0 0,
  6px 6px;
}